@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --bg: #18181b;
  --text: #d4d4d8;
  --blue: 14, 165, 233;
  --green: 14, 233, 61;
  --red: 255, 41, 80;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text);
  background-color: var(--bg);
  padding: 5rem;
  user-select: none;
}

.color-bg-blue {
  color: rgb(var(--blue));
  background-color: rgba(var(--blue), 0.1);
}

.color-bg-green {
  color: rgb(var(--green));
  background-color: rgba(var(--green), 0.1);
}

.color-bg-red {
  color: rgb(var(--red));
  background-color: rgba(var(--red), 0.1);
}

.border-color-green {
  border-left: 4px solid rgb(var(--green));
}

.border-color-red {
  border-left: 4px solid rgb(var(--red));
}

.heading h1 {
  color: rgb(var(--blue));
  font-size: 3rem;
}

.heading p {
  font-size: 1.25rem;
  line-height: 2rem;
}

.highlight {  
  padding-inline: 0.25rem;
  text-decoration: none;
}

.projects {
  margin-top: 5rem;
}

.projects h1 {
  margin-bottom: 1rem;
  color: rgb(var(--blue));
}

.projects p:first-child {
  margin-bottom: 1rem;
}

.project-text {
  max-width: 30rem;
  font-size: 1rem;
  padding-left: 1rem;
}

.project {
  margin-bottom: 1rem;
}